.m1{
    background-color: black;
    color: aqua;
    /* margin-left: 50px; */
    text-align: center;
    height: 40px;
    border-radius: 10px;
}
.row{
    /* background-color:; */
}
.png{
    text-align: center;
}
.form-group{
    align-items: center;
    margin-left: 700px;
    background-color:  lightgrey;
    width: 200px;
    border-radius: 7px;
}
.mt-1{
    background-color: red;
}
.btn{
    /* height: 60px;
    width: 100px;
    border-radius: 10px;
    background-color: limegreen; */
    text-align: center;
    margin-left: 100vh;
    margin-top: 10px;
    background: rgba(130,200,160,1);
	background: -moz-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,200,160,1)), color-stop(100%, rgba(130,199,158,1)));
	background: -webkit-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
	background: -o-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
	background: -ms-linear-gradient(top, rgba(130,200,160,1) 0%, rgba(130,199,158,1) 100%);
	background: linear-gradient(to bottom, rgba(130,200,160,1) 0%, rgba(124, 185, 149, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82c8a0', endColorstr='#82c79e', GradientType=0 );
    text-decoration: none;
	color: white;
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    margin-top: 20px;
}
