.m1{
    background-color: black;
    color: aqua;
    /* margin-left: 50px; */
    text-align: center;
    height: 40px;
}
.row{
    /* background-color:; */
}
.png{
    text-align: center;
}
.form-group{
    align-items: center;
    margin-left: 700px;
    background-color: lime;
    width: 200px;
}
.mt-1{
    background-color: red;
}
.btn{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: limegreen;
    text-align: center;
    margin-left: 100vh;
    margin-top: 10px;
}