.home{
    background-color: greenyellow;
    text-align: center;
    padding: 15px;
    display:block;
    font-size: 30px;
}

.home::before{
    content:" ";
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("lookkrub.png")no-repeat;
    background-size:contain;
    float:left;
}


.private{
    text-align: center;
}
.name{
    text-align: center;
}
.gen{
    text-align: center;
}
.accout{
    text-align: center;
}
.mail{
    text-align: center;
}
.tel{
    text-align: center;
}