body{
    background: url("../img/ev.jpg") no-repeat 0 90%;
    backdrop-filter: blur(5px);
    height: auto;
    width: auto ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.table{
    background-color: aliceblue;
}
img {
    border-radius: 50%;
  }
