.im{
    font-size: 50px;
}

.card-a {
    position: relative;
    right: -550px;
    font-size: 20px;
    top: 100px;
    width: 700px;
    height: 35px;
    background-color: rgb(192, 187, 187);
}

.card-b {
    position: relative;
    right: -550px;
    font-size: 20px;
    top: 110px;
    width: 700px;
    height: 35px;
    background-color: rgb(192, 187, 187);
}

.card-c {
    position: relative;
    right: -550px;
    font-size: 20px;
    top: 120px;
    width: 700px;
    height: 35px;
    background-color: rgb(192, 187, 187);
}

.card-d {
    position: relative;
    right: -550px;
    font-size: 20px;
    top: 130px;
    width: 700px;
    height: 35px;
    background-color: rgb(192, 187, 187);
}

.card-e {
    position: relative;
    right: -550px;
    font-size: 20px;
    top: 140px;
    width: 700px;
    height: 35px;
    background-color: rgb(192, 187, 187);
}

.card-f {
    position: relative;
    right: -550px;
    font-size: 20px;
    top: 150px;
    width: 700px;
    height: 35px;
    background-color: rgb(192, 187, 187);
}

.row .carimage img{
    position: relative;
    bottom: 100px;    

}